In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("Walmart_Store_sales.csv")

In [3]:
df.head(10)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
5,1,12-03-2010,1439541.59,0,57.79,2.667,211.380643,8.106
6,1,19-03-2010,1472515.79,0,54.58,2.720,211.215635,8.106
7,1,26-03-2010,1404429.92,0,51.45,2.732,211.018042,8.106
8,1,02-04-2010,1594968.28,0,62.27,2.719,210.820450,7.808
9,1,09-04-2010,1545418.53,0,65.86,2.770,210.622857,7.808

In [4]:
df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [5]:
df.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [6]:
max_sale_store=df.groupby('Store')['Weekly_Sales'].sum().nlargest(1)
print(f"Store number {max_sale_store.idxmax()} has the highest sales ")

Store number 20 has the highest sales

In [7]:
store_std=df.groupby('Store').agg({'Weekly_Sales':'std'})
print(f"Store number {store_std['Weekly_Sales'].idxmax()} has highest standard deviation and the standard deviation is {store_std['Weekly_Sales'].max()}")

Store number 14 has highest standard deviation and the standard deviation is 317569.9494755081

In [8]:
store_mean_std=df.groupby('Store').agg({'Weekly_Sales':['mean','std']})

In [9]:
store_mean_std.head()

       Weekly_Sales
               mean            std
Store
1      1.555264e+06  155980.767761
2      1.925751e+06  237683.694682
3      4.027044e+05   46319.631557
4      2.094713e+06  266201.442297
5      3.180118e+05   37737.965745

In [10]:
q3_data=df[(pd.to_datetime(df['Date']) >= pd.to_datetime('07-01-2012')) & (pd.to_datetime(df['Date']) <= pd.to_datetime('09-30-2012'))]

In [11]:
walmart_data_growth = q3_data.groupby(['Store'])['Weekly_Sales'].sum()
print(f"Store Number {walmart_data_growth.idxmax()} has Good Quartely Growth in Q3 2012 {walmart_data_growth.max()}")

Store Number 4 has Good Quartely Growth in Q3 2012 25652119.35

In [12]:
stores_holiday_sales = df[df['Holiday_Flag'] == 1]

In [13]:
stores_nonholiday_sales = df[df['Holiday_Flag'] == 0]

In [14]:
#Stores Sales in Super Bowl Day
#Super Bowl: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13
stores_holiday_sales_superBowl = stores_holiday_sales[(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('12-02-2010'))
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('11-02-2011'))
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('10-02-2012'))
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('08-02-2013'))]

In [15]:
#Stores Sales in Labour Day
#Labour Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13
stores_holiday_sales_labourDay = stores_holiday_sales[(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('10-09-2010')) 
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('09-09-2011'))
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('07-09-2012'))
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('06-09-2013'))]

In [16]:
#Stores Sales in Thanks Giving
#Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13
stores_holiday_sales_thanksgiving = stores_holiday_sales[(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('26-11-2010')) 
                                                         |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('25-11-2011'))
                                                         |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('23-11-2012'))
                                                         |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('29-11-2013'))]

In [17]:
#Stores Sales in Christmas
# Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13
stores_holiday_sales_Christmas = stores_holiday_sales[(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('31-12-2010')) 
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('30-12-2011'))
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('28-12-2012'))
                                                      |(pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('27-12-2013'))]
stores_nonholiday_sales_mean = stores_nonholiday_sales.groupby(['Date']).agg({'Weekly_Sales':'mean'}).reset_index()
stores_holiday_sales_sum = stores_holiday_sales.groupby(['Date']).agg({'Weekly_Sales':'sum'}).reset_index()

In [18]:
for row in stores_holiday_sales_sum.itertuples():
    for row1 in stores_nonholiday_sales_mean.itertuples():
        if row.Weekly_Sales > row1.Weekly_Sales:
            print("On this Date {} Holiday Sales is greater than Non Holiday Sales and the Sales : {}".format(row.Date,row.Weekly_Sales))
            break;

On this Date 07-09-2012 Holiday Sales is greater than Non Holiday Sales and the Sales : 48330059.31
On this Date 09-09-2011 Holiday Sales is greater than Non Holiday Sales and the Sales : 46763227.529999994
On this Date 10-02-2012 Holiday Sales is greater than Non Holiday Sales and the Sales : 50009407.919999994
On this Date 10-09-2010 Holiday Sales is greater than Non Holiday Sales and the Sales : 45634397.84
On this Date 11-02-2011 Holiday Sales is greater than Non Holiday Sales and the Sales : 47336192.79000002
On this Date 12-02-2010 Holiday Sales is greater than Non Holiday Sales and the Sales : 48336677.63000002
On this Date 25-11-2011 Holiday Sales is greater than Non Holiday Sales and the Sales : 66593605.25999998
On this Date 26-11-2010 Holiday Sales is greater than Non Holiday Sales and the Sales : 65821003.23999999
On this Date 30-12-2011 Holiday Sales is greater than Non Holiday Sales and the Sales : 46042461.04000001
On this Date 31-12-2010 Holiday Sales is greater than Non Holiday Sales and the Sales : 40432519.0

In [19]:
print("Super Bowl Day Sale",stores_holiday_sales_superBowl['Weekly_Sales'].sum())
print("Labour Day Sale",stores_holiday_sales_labourDay['Weekly_Sales'].sum())
print("Thanksgiving Day Sale",stores_holiday_sales_thanksgiving['Weekly_Sales'].sum())
print("Christmas Day Sale",stores_holiday_sales_Christmas['Weekly_Sales'].sum())

Super Bowl Day Sale 145682278.34
Labour Day Sale 140727684.68
Thanksgiving Day Sale 132414608.5
Christmas Day Sale 86474980.03999999

In [20]:
x_features_object = df[df['Store'] ==1][['Store','Date']]
date_obj = df[df['Store'] ==1][['Date']]
date_obj.index +=1
x_features_object.Date = date_obj.index
x_features_object.head()

   Store  Date
0      1     1
1      1     2
2      1     3
3      1     4
4      1     5

In [21]:
y_target = df[df['Store'] ==1]['Weekly_Sales']
y_target.head()

0    1643690.90
1    1641957.44
2    1611968.17
3    1409727.59
4    1554806.68
Name: Weekly_Sales, dtype: float64

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_features_object,y_target,random_state=1)

In [23]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)
feature_dataset = df[df['Store'] ==1][['Store','CPI','Unemployment','Fuel_Price']]
feature_dataset.head()

   Store         CPI  Unemployment  Fuel_Price
0      1  211.096358         8.106       2.572
1      1  211.242170         8.106       2.548
2      1  211.289143         8.106       2.514
3      1  211.319643         8.106       2.561
4      1  211.350143         8.106       2.625

In [24]:
response_set_cpi = df[df['Store'] ==1]['CPI'].astype('int64')
response_set_unemployment = df[df['Store'] ==1]['Unemployment'].astype('int64')

In [25]:
from sklearn.model_selection import train_test_split
x_train_cpi,x_test_cpi,y_train_cpi,y_test_cpi = train_test_split(feature_dataset,response_set_cpi,random_state=1)
x_train_unemp, x_test_unemp, y_train_unemp, y_test_unemp = train_test_split(feature_dataset,response_set_unemployment,random_state=1)

In [26]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=10000)
logreg.fit(x_train_cpi,y_train_cpi)
y_pred = logreg.predict(x_test_cpi)
logreg.fit(x_train_unemp,y_train_unemp)
#y_pred_unemp = logreg.predict(x_test_unemp)

LogisticRegression(max_iter=10000)

In [27]:
y_pred_unemp = logreg.predict(x_test_unemp)
from sklearn import metrics
print(metrics.accuracy_score(y_test_cpi,y_pred))
print(metrics.accuracy_score(y_test_unemp,y_pred_unemp))

0.7222222222222222
0.9444444444444444

In [28]:
print('cpi actual :', y_test_cpi.values[0:30])
print('cpi Predicted :', y_pred[0:30])
print('actual Unemployment :', y_test_unemp.values[0:30])
print('Predicted Unemployment :', y_pred_unemp[0:30])

cpi actual : [215 221 211 211 221 211 210 211 215 217 221 212 216 218 211 210 211 217
 215 211 212 217 221 219 214 211 211 219 215 219]
cpi Predicted : [215 221 211 211 221 211 211 211 215 215 221 211 215 218 211 211 211 217
 215 211 211 217 221 220 215 211 211 221 215 220]
actual Unemployment : [7 7 7 8 7 7 7 7 7 7 6 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7]
Predicted Unemployment : [7 7 7 7 6 7 7 7 7 7 6 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7]

In [29]:
df['Day'] = pd.to_datetime(df['Date']).dt.day_name()
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Day
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106,Sunday
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106,Thursday
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106,Friday
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106,Friday
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106,Monday